
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}


/*titulos generales*/
.hache1 {
    font-size: 3rem;
    padding: 5px;
}

.hache2 {
    text-align: center;
    border: 1px black solid;
    padding: 5px;
    font-size: 2rem;
    position: sticky;
    top: 0;
    background-color: darkgray;
}

.hache3 {
    font-style: italic;
}

.hache3-rules {
    padding-top: 45px;
    padding-bottom: 25px;
}

/*header y nav*/
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navegacion {
    padding: 20px;
}
.navegacion a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px black solid;
    border-radius: 10px;
}
.navegacion a:hover {
    background-color: grey;
}
a[href="#"] {
    background-color: grey;
}
.banner1 {
    width: 100vw;
}


/*main, sections, logos, container*/
.main{
    min-height: 100vh;
}

.section1 {
    position: relative;
    min-height: 80vh;
}

.logo_container {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    margin-top: 10px;
}
.art_container {
    display: inline-block;
    width: 60%;
    margin-top: 35px;
   
}
.logo {
    width:50%;
    margin-left: 40%;
}

/*home*/
.art_home {
    width: 90%;
    height: 15%;
    margin-left: 30px;
    padding: 10px;
    font-size: 1.5em;
}
.art_home p {
    margin-left: 25px;
}


/*about*/
.art_about {
    width: 90%;
    height: 25%;
    margin-left: 30px;
    padding: 15px;
    font-size: 1.5em;
}
.art_about p {
    margin-left: 25px;
}

/*pagina games, tabla y maps*/
.section2 {
    margin: auto;
    display: flex;
    width: 80%;
    height: 110vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    padding-top: 50px;
}
.art_games {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
    line-height: 45px;
}
.p-games {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
}
table {
    width: 90%;
    text-align: center;
    background-color:gray;
    border-collapse: collapse;
    color: whitesmoke;
}
thead th:nth-child(1) {
    width: 10%;
    border: 3px solid black;
}
thead th:nth-child(2) {
    width: 10%;
    border: 3px solid black;
}
thead th:nth-child(3) {
    width: 20%;
    border: 3px solid black;
}
thead th:nth-child(4) {
    width: 10%;
    border: 3px solid black;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
.info-personal {
    display: flex;
    font-size: .8em;
    justify-content: space-between;
}
.titlemap {
    align-self: flex-start;
    display: block;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    font-size: 1.5em;
}
.caja {
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 20px;
}
.caja h4 {
    padding-bottom: 10px;
}
iframe {
    width:200px;
    height: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

/*pagina rules*/
.art_rules {
    width: 100%;
    height: 25%;
    margin-left: 10px;
    padding: 5px;
    font-size: 1.5em;
}
.p-rules{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    padding-top: 70px;
}
.sangria {
    text-indent: 50px;
}
.corrido {
    padding-left: 70px;
}
ol {
    padding-left: 25px;
}
li {
    padding-top: 20px;
}


/*pagina regitration*/
form {
    height: 250vh;
    padding: 10px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    border: 1px solid grey;
}
fieldset {
    padding: 10px;
}
.field_position {
    display: flex;
    width: 40%;
}
.field_position1 {
    display: flex;
    width: 80%;
    font-size: .7em;
}
.field_position label {
    padding-left: 20px;
}
.field_position1 label {
    padding-left: 10px;
    
}
.acomodar_check {
    margin-left: 40px;
}
input {
    border-bottom: 2px solid black;
    border-top: 0;
    border-left: 0;
    border-right: o;
}
.agranda_campo1 {
    width: 70%;
}
.agranda_campo2 {
    width: 45%;
}
.agranda_campo3 {
    width: 25%;
}
.school_padding{
    width: 20%;
    padding: 10px;
    border: 1px solid black;
}
.ptp {
    margin-top: 50px;
}
.signature {
    padding-top: 30px;
}
.enviar {
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    background-color: grey;
    color: white;
    border-bottom: 0;
}
.enviar:hover {
    background-color: greenyellow;
}

/*pagina contact*/
.art_contact {
    font-size: 1.5em;
    padding: 20px;
    line-height: 40px;
}

/*aside*/
.aside {
    margin: auto;
    width: 80%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.img_aside{
    width: 50%;
    border: 1px solid black;  
}

/*footer*/
.futer {
    text-align: center;
    padding: 5px;
    
}
.futer p {
    padding: 5px;
    background-color: darkgray;
    border: 1px solid black;
}



/*empezando de a poco con mediaqueries sin que cuente para el task4*/

@media scree and (max-width:769px) {

}



