
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: whitesmoke;;
}

.hache1 {
    font-size: 4.5em;
    display: inline;
}

.navegacion {
    display: inline-block;
    margin-left: 6%;
    
}

.navegacion a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px black solid;
    border-radius: 2px;
}




.banner1 {
    width: 100vw;
    height: 60vh;
}

















