
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}


.hache1 {
    font-size: 4rem;
    padding: 5px;
    display: inline-block;
}

.navegacion {
    display: inline-block;
    margin-left: 6%;
    
}

.navegacion a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px black solid;
    border-radius: 2px;
}


.banner1 {
    width: 100vw;
    height: 60vh;
}

.main{
    height: 100vh;
}


.hache2 {
    text-align: center;
    border: 1px black solid;
    padding: 5px;
    font-size: 2rem;
}

.logo_container {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    margin-top: 30px;
}

.art_container {
    display: inline-block;
    width: 60%;
    height: 500px;
    margin-top: 35px;
}

.logo {
    width:50%;
    margin-left: 40%;
}



.art_home {
    width: 90%;
    height: 15%;
    margin-left: 30px;
    padding: 10px;
}



.oculto{
    display: none;
}

.hache3 {
    font-style: italic;
}









